In [1]:
###############################################
## Import the core Scopus Dataset (previusly mined) --- use ScopusID as unique key to grab additional author meta-data (e.g. h-index, num-cites, etc.)
##
## Author: Christopher Meaney
## Date: January 2023
##############################################

In [2]:
########################
## Dependency packages
########################
library(rscopus)

In [3]:
#########################
## Set Scopus API key
#########################
api_key <- set_api_key("Enter_Your_API_Key_Here")

In [4]:
##########################
## Filepaths to where data should be imported to, or exported from
##########################

## Set working directory path
wd_path <- "Enter_a_Path_to_a_Working_Directory_For_This_Project"

## Filepath to export the queried Scopus API data; note that meta-data will be used to curate larger scientometric database
scopus_fpath <- paste0(wd_path, "//Core_Scopus_Dataset_Sm.csv")

## Filepath to import the IDs file
ids_meta_fpath <- paste0(wd_path, "//Final_Combined_ScopusIdsFile.csv")

## Filepath to output the queried metrics dataframe
metrics_fpath <- paste0(wd_path, "//Scopus_Auth_Metrics.csv")

In [5]:
#####################
## Import core Scopus Dataset
#####################
scopus_data <- read.csv(scopus_fpath, header=TRUE, sep=",", stringsAsFactors=FALSE)
str(scopus_data)

'data.frame':	18874 obs. of  25 variables:
 $ au_id         : num  1e+10 1e+10 1e+10 1e+10 1e+10 ...
 $ prism_url     : chr  "https://api.elsevier.com/content/abstract/scopus_id/85140976962" "https://api.elsevier.com/content/abstract/scopus_id/85121747496" "https://api.elsevier.com/content/abstract/scopus_id/85112107056" "https://api.elsevier.com/content/abstract/scopus_id/85118672412" ...
 $ eid           : chr  "2-s2.0-85140976962" "2-s2.0-85121747496" "2-s2.0-85112107056" "2-s2.0-85118672412" ...
 $ doi           : chr  "10.1016/j.socscimed.2022.115463" "10.1111/add.15760" "10.1016/j.socscimed.2021.114262" "10.3399/BJGP.2021.0195" ...
 $ issn          : chr  "02779536" "09652140" "02779536" "09601643" ...
 $ eissn         : chr  "18735347" "13600443" "18735347" "14785242" ...
 $ pub_title     : chr  "Brief opportunistic interventions by general practitioners to promote smoking cessation: A conversation analytic study" "The old and familiar meets the new and unknown: patient and clinician perceptions on e-cigarettes for smoking r"| __truncated__ "Patientsâ€™ use of the internet to negotiate about treatment" "Factors affecting the documentation of spoken safety-netting advice in routine GP consultations: A cross-sectional study" ...
 $ pub_author    : chr  "Wheat H." "Albury C." "Stevenson F.A." "Edwards P.J." ...
 $ pub_journal   : chr  "Social Science and Medicine" "Addiction" "Social Science and Medicine" "British Journal of General Practice" ...
 $ pub_date      : chr  "2022-12-01" "2022-05-01" "2021-12-01" "2021-11-01" ...
 $ pub_abstract  : chr  "Very brief opportunistic interventions for smoking cessation are effective, cost-saving for health systems, and"| __truncated__ "Background and Aims: Clinicians could promote e-cigarettes for harm reduction to people who smoke but cannot st"| __truncated__ "The internet provides access to a huge variety of information, including health information. There is, however,"| __truncated__ "Background Previous studies have reported how often safetynetting is documented in medical records, but it is n"| __truncated__ ...
 $ pub_keywords  : chr  "Conversation analysis | Primary care | Smoking | Very brief advice (VBA) intervention" "e-cigarettes | family practice | harm reduction | Primary care | qualitative interviews | smoking reduction" "Conversation analysis | Doctor-patient interaction | Internet | Primary care | UK | Video-recorded consultations" "Health communication | Medical records | Medicolegal | Patient safety | Primary care | Safetynetting" ...
 $ pub_type      : chr  "Journal" "Journal" "Journal" "Journal" ...
 $ pub_subtype   : chr  "Article" "Article" "Article" "Article" ...
 $ open_access   : logi  TRUE TRUE FALSE TRUE TRUE TRUE ...
 $ fund_acr      : chr  "OxBRC" "NIHR" "NIHR" "NIHR" ...
 $ fund_num      : chr  "C56718/A23874" "333" "undefined" "RCF 19/20-64E" ...
 $ fund_sponsor  : chr  "NIHR Oxford Biomedical Research Centre" "National Institute for Health and Care Research" "National Institute for Health Research" "National Institute for Health Research" ...
 $ cited_count   : int  0 1 3 7 2 1 2 0 1 2 ...
 $ nam           : chr  "RebeccaBarnes" "RebeccaBarnes" "RebeccaBarnes" "RebeccaBarnes" ...
 $ id            : num  1e+10 1e+10 1e+10 1e+10 1e+10 ...
 $ pub_year      : int  2022 2022 2021 2021 2021 2021 2021 2021 2020 2020 ...
 $ au_country    : chr  "UK" "UK" "UK" "UK" ...
 $ au_institution: chr  "Oxford" "Oxford" "Oxford" "Oxford" ...
 $ au_name       : chr  "RebeccaBarnes" "RebeccaBarnes" "RebeccaBarnes" "RebeccaBarnes" ...

In [6]:
## Create a small version of the dataset containing only UNIQUE ScopusIDs and keeping author name
X <- scopus_data[!(duplicated(scopus_data$id)), c("nam","id")]
names(X) <- c("AuthorName","ScopusID")
str(X)

'data.frame':	591 obs. of  2 variables:
 $ AuthorName: chr  "RebeccaBarnes" "ChristineTCigolle" "ClaireKendall" "MinaRuthSilberberg" ...
 $ ScopusID  : num  1.00e+10 1.02e+10 1.28e+10 1.28e+10 1.44e+10 ...

In [7]:
## Double check uniqueness of ScopusID in small dataset

list(
    length(unique(scopus_data$id)),
    length(unique(X$ScopusID))
)

[[1]]
[1] 591

[[2]]
[1] 591

In [8]:
########################
## Import original ScopusIDs dataset; containing some meta-information on authors (e.g. author webpage; where we scraped there affiliation)
########################
meta <- read.csv(file=ids_meta_fpath, header=TRUE, sep=",", stringsAsFactors=FALSE)
str(meta)

'data.frame':	658 obs. of  6 variables:
 $ FirstName  : chr  "Jonathan" "Stephen" "Robbie" "Christi" ...
 $ LastName   : chr  "Mant" "Sutton" "Duschinsky" "Deaton" ...
 $ ScopusID   : num  2.66e+10 3.52e+10 3.70e+10 5.72e+10 7.01e+09 ...
 $ Country    : chr  "UK" "UK" "UK" "UK" ...
 $ Institution: chr  "Cambridge" "Cambridge" "Cambridge" "Cambridge" ...
 $ AuthorName : chr  "JonathanMant" "StephenSutton" "RobbieDuschinsky" "ChristiDeaton" ...

In [9]:
## Only keep variables needed
meta_sm <- meta[,c("ScopusID","Institution","Country")]
names(meta_sm) <- c("id","scrape_inst","country_inst")
str(meta_sm)

'data.frame':	658 obs. of  3 variables:
 $ id          : num  2.66e+10 3.52e+10 3.70e+10 5.72e+10 7.01e+09 ...
 $ scrape_inst : chr  "Cambridge" "Cambridge" "Cambridge" "Cambridge" ...
 $ country_inst: chr  "UK" "UK" "UK" "UK" ...

In [10]:
###################################
##
## User defined function to extract author publication meta-data from Scopus API
##
###################################

In [11]:
###############################################
##
##
## Query Scopus Author Meta-Data (h-index, num-cites, num-coauth, etc.)
##
##
###############################################

# vu <- c("LIGHT", "STANDARD", "ENHANCED", "METRICS", "ENTITLED")
# vu <- c("LIGHT")
# vu <- c("STANDARD")
# vu <- c("ENHANCED")
# vu <- c("METRICS")
# vu <- c("ENTITLED")

##
## Get Count Number Documents
##
get_doc_count <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        doc_count <- dat[["content"]][["author-retrieval-response"]][[1]][["coredata"]][["document-count"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Count Number Citations
##
get_cited_count <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        cited_count <- dat[["content"]][["author-retrieval-response"]][[1]][["coredata"]][["cited-by-count"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Citation Counts
##
get_citation_count <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        citation_count <- dat[["content"]][["author-retrieval-response"]][[1]][["coredata"]][["citation-count"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get H-index
##
get_h_index <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        fbwalls <- dat[["content"]][["author-retrieval-response"]][[1]][["h-index"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Co-Author Count
##
get_coauthor_count <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        coauthor_count <- dat[["content"]][["author-retrieval-response"]][[1]][["coauthor-count"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Most Recent PubYear
##
get_pub_last <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        pub_last <- dat[["content"]][["author-retrieval-response"]][[1]][["author-profile"]][["publication-range"]][["@end"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get First Publication Date
##
get_pub_first <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        pub_first <- dat[["content"]][["author-retrieval-response"]][[1]][["author-profile"]][["publication-range"]][["@start"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
        	# Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Affiliation Dept
##
get_affil_dept <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        affil_dept <- dat[["content"]][["author-retrieval-response"]][[1]][["author-profile"]][["affiliation-current"]][["affiliation"]][["ip-doc"]][["preferred-name"]][[2]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
        	# Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Affiliation Institution
##
get_affil_inst <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        affil_inst <- dat[["content"]][["author-retrieval-response"]][[1]][["author-profile"]][["affiliation-current"]][["affiliation"]][["ip-doc"]][["parent-preferred-name"]][[2]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Affiliation City
##
get_affil_city <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        affil_city <- dat[["content"]][["author-retrieval-response"]][[1]][["author-profile"]][["affiliation-current"]][["affiliation"]][["ip-doc"]][["address"]][["city"]]		
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
        	# Choose a return value in case of warning
        }
    )    
    return(out)
}


##
## Get Affiliation Country
##
get_affil_country <- function(dat) {
    out <- tryCatch(
        {
        ## For each author dataframe grab relevant info
        affil_country <- dat[["content"]][["author-retrieval-response"]][[1]][["author-profile"]][["affiliation-current"]][["affiliation"]][["ip-doc"]][["address"]][["country"]]
        },
        error=function(cond) {
            # Choose a return value in case of error
            return(c(NA))
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            return(c(NA))
        },
        finally={
            # Choose a return value in case of warning
        }
    )    
    return(out)
}


###########
##
## Create single function to grab author meta-data
##
###########
get_au_metrics <- function(id) {
    out <- tryCatch(
        {
        ## Grab data for given author ID
        dat_metrics <- author_retrieval(au_id=id, api_key=api_key, verbose=FALSE, view="METRICS")
        dat_std <- author_retrieval(au_id=id, api_key=api_key, verbose=FALSE, view="STANDARD")
        ## Grab individual data elements given data.frame above
        doc_count <- get_doc_count(dat=dat_metrics)
        cited_count <- get_cited_count(dat=dat_metrics)
        citation_count <- get_citation_count(dat=dat_metrics)
        h_index <- get_h_index(dat=dat_metrics)
        coauthor_count <- get_coauthor_count(dat=dat_metrics)
        ##
        pub_last <- get_pub_last(dat=dat_std)
        pub_first <- get_pub_first(dat=dat_std)
        affil_dept <- get_affil_dept(dat=dat_std)
        affil_inst <- get_affil_inst(dat=dat_std)
        affil_city <- get_affil_city(dat=dat_std)
        affil_country <- get_affil_country(dat=dat_std)
        ## Put into data.frame
        out <- data.frame(au_id=id,
                    doc_count=ifelse(is.null(doc_count),NA,doc_count),
                    cited_count=ifelse(is.null(cited_count),NA,cited_count),
                    citation_count=ifelse(is.null(citation_count),NA,citation_count),
                    h_index=ifelse(is.null(h_index),NA,h_index),
                    coauthor_count=ifelse(is.null(coauthor_count),NA,coauthor_count),
                    pub_last=ifelse(is.null(pub_last),NA,pub_last),
                    pub_first=ifelse(is.null(pub_first),NA,pub_first),
                    affil1=ifelse(is.null(affil_dept),NA,affil_dept),
                    affil2=ifelse(is.null(affil_inst),NA,affil_inst),
                    affil_city=ifelse(is.null(affil_city),NA,affil_city),
                    affil_country=ifelse(is.null(affil_country),NA,affil_country)
                    )
        return(out)
        },
        error=function(cond) {
            # Choose a return value in case of error
            out <- data.frame(au_id=id,
                    doc_count=NA,
                    cited_count=NA,
                    citation_count=NA,
                    h_index=NA,
                    coauthor_count=NA,
                    pub_last=NA,
                    pub_first=NA,
                    affil1=NA,
                    affil2=NA,
                    affil_city=NA,
                    affil_country=NA) 
        return(out)
        },
        warning=function(cond) {
            # Choose a return value in case of warning
            out <- data.frame(au_id=id,
                    doc_count=NA,
                    cited_count=NA,
                    citation_count=NA,
                    h_index=NA,
                    coauthor_count=NA,
                    pub_last=NA,
                    pub_first=NA,
                    affil1=NA,
                    affil2=NA,
                    affil_city=NA,
                    affil_country=NA) 
        return(out)
        },
        finally={
        	# Choose a return value in case of warning
        }
    )    
    return(out)
}

In [12]:
################################################
##
## Loop over list of Scopus IDs to grab associated author meta-data
##
################################################

## Instantiate empty list
au_metrics_list <- list()

##
## Loop over list grabbing data
##
t0 <- Sys.time()

for (i in 1:nrow(X)) {
    ## Grab Name and ID
    nam <- X$AuthorName[i]
    id <- X$ScopusID[i]
    cat(i, "\tQuerying Scopus ID: ", id, "\t Author Name:", nam, "\n")
    ## Add to list
    dat_sm <- get_au_metrics(id=id)
    dat_sm$nam <- nam
    dat_sm$id <- id
    au_metrics_list[[i]] <- dat_sm 
    ## Pause for a second as to not kill API
    Sys.sleep(runif(n=1, min=0, max=3))
}

t1 <- Sys.time()
t1-t0

1 	Querying Scopus ID:  10041373600 	 Author Name: RebeccaBarnes
2 	Querying Scopus ID:  10240446500 	 Author Name: ChristineTCigolle
3 	Querying Scopus ID:  12791296200 	 Author Name: ClaireKendall
4 	Querying Scopus ID:  12804958400 	 Author Name: MinaRuthSilberberg
5 	Querying Scopus ID:  14421205500 	 Author Name: BertrandLebouche
6 	Querying Scopus ID:  14826143300 	 Author Name: ClaudeTopping
7 	Querying Scopus ID:  15020768600 	 Author Name: CarlHeneghan
8 	Querying Scopus ID:  15037395300 	 Author Name: MargaretSmith
9 	Querying Scopus ID:  15051137000 	 Author Name: JeffMyers
10 	Querying Scopus ID:  15519829000 	 Author Name: DeannaTelner
11 	Querying Scopus ID:  15730009300 	 Author Name: MichelleNaimer
12 	Querying Scopus ID:  15759696700 	 Author Name: DanielleHessler
13 	Querying Scopus ID:  15922637500 	 Author Name: JohnDavidHeintzman
14 	Querying Scopus ID:  15923365500 	 Author Name: JohnPMuench
15 	Querying Scopus ID:  16024709400 	 Author Name: NickFahy
16 	Querying Scopus ID:  16202736300 	 Author Name: MarcelÃ‰mond
17 	Querying Scopus ID:  16231509700 	 Author Name: BarbaraOgur
18 	Querying Scopus ID:  16240232400 	 Author Name: IsabelleVedel
19 	Querying Scopus ID:  16302966700 	 Author Name: OnilBhattacharyya
20 	Querying Scopus ID:  16306339900 	 Author Name: ChristineDehlendorf
21 	Querying Scopus ID:  16553439800 	 Author Name: JohanneThÃ©orÃªt
22 	Querying Scopus ID:  16643719200 	 Author Name: TiborSchuster
23 	Querying Scopus ID:  18042857600 	 Author Name: FarahShroff
24 	Querying Scopus ID:  18437196800 	 Author Name: NoahMichaelIvers
25 	Querying Scopus ID:  18838972900 	 Author Name: MarieClaudeTremblay
26 	Querying Scopus ID:  19433645800 	 Author Name: AllenJDietrich
27 	Querying Scopus ID:  21135457500 	 Author Name: MaryAnnOBrien
28 	Querying Scopus ID:  22034194200 	 Author Name: MarkFriedberg
29 	Querying Scopus ID:  22634409000 	 Author Name: LynnRGauthier
30 	Querying Scopus ID:  22835266000 	 Author Name: PeterNugus
31 	Querying Scopus ID:  23009891600 	 Author Name: IrenePeterson
32 	Querying Scopus ID:  23050302300 	 Author Name: SteveIliffe
33 	Querying Scopus ID:  23397501800 	 Author Name: MeganLandes
34 	Querying Scopus ID:  23471705900 	 Author Name: SandyBuchman
35 	Querying Scopus ID:  23473251700 	 Author Name: KathleenKerr
36 	Querying Scopus ID:  23502337300 	 Author Name: JoanieSimsGould
37 	Querying Scopus ID:  23570359700 	 Author Name: MarieHÃ©lÃ¨neChomienne
38 	Querying Scopus ID:  23668444300 	 Author Name: AaronOrkin
39 	Querying Scopus ID:  23970842300 	 Author Name: MuirGray
40 	Querying Scopus ID:  23973273100 	 Author Name: SaraPaparini
41 	Querying Scopus ID:  23976859100 	 Author Name: DavidNunan
42 	Querying Scopus ID:  23979060200 	 Author Name: ZiruiSong
43 	Querying Scopus ID:  23990976300 	 Author Name: ClareLiddy
44 	Querying Scopus ID:  23993868300 	 Author Name: ClaireDuddy
45 	Querying Scopus ID:  24167156900 	 Author Name: JosephWherton
46 	Querying Scopus ID:  24329677400 	 Author Name: EmilyMcFadden
47 	Querying Scopus ID:  24331484500 	 Author Name: RitaHamad
48 	Querying Scopus ID:  2.4332e+10 	 Author Name: TaraKiran
49 	Querying Scopus ID:  24344105700 	 Author Name: TrishGreenhalgh
50 	Querying Scopus ID:  24376037700 	 Author Name: JulieYunChen
51 	Querying Scopus ID:  24479743500 	 Author Name: KheiraJolinDahel
52 	Querying Scopus ID:  24597333900 	 Author Name: LauraHorsfall
53 	Querying Scopus ID:  24725920400 	 Author Name: VeronikaWilliams
54 	Querying Scopus ID:  24755913900 	 Author Name: CindyLoKuenLam
55 	Querying Scopus ID:  25031756900 	 Author Name: AnaQuinones
56 	Querying Scopus ID:  25230779000 	 Author Name: WilliamChiWaiWong
57 	Querying Scopus ID:  25626445300 	 Author Name: CarmenPiernas
58 	Querying Scopus ID:  25641427200 	 Author Name: JenniferMacLellan
59 	Querying Scopus ID:  25959892100 	 Author Name: SteffaniBailey
60 	Querying Scopus ID:  26023499800 	 Author Name: AntonioLazzarino
61 	Querying Scopus ID:  26024277400 	 Author Name: FokHanLeung
62 	Querying Scopus ID:  26321475500 	 Author Name: SusannahFleming
63 	Querying Scopus ID:  26321493200 	 Author Name: MamanJoyceDogba
64 	Querying Scopus ID:  26430259100 	 Author Name: CatherineVarner
65 	Querying Scopus ID:  26532383600 	 Author Name: NerysAstbury
66 	Querying Scopus ID:  26641566900 	 Author Name: HollyWitteman
67 	Querying Scopus ID:  26642948500 	 Author Name: JohnABaron
68 	Querying Scopus ID:  26643244100 	 Author Name: JonathanMant
69 	Querying Scopus ID:  26643433800 	 Author Name: FranceLÃ©garÃ©
70 	Querying Scopus ID:  2.6658e+10 	 Author Name: FionaHamilton
71 	Querying Scopus ID:  30367561000 	 Author Name: ChinthakaBalasooriya
72 	Querying Scopus ID:  30667442000 	 Author Name: RoksanaRoxanaBehruzi
73 	Querying Scopus ID:  34975056800 	 Author Name: AndrewFarmer
74 	Querying Scopus ID:  35097292400 	 Author Name: RachnaBegh
75 	Querying Scopus ID:  35097322400 	 Author Name: NicolaLindson
76 	Querying Scopus ID:  35108751000 	 Author Name: AnneMarieBoylan
77 	Querying Scopus ID:  35117470300 	 Author Name: WengYeeChin
78 	Querying Scopus ID:  35119084900 	 Author Name: ChristieNewton
79 	Querying Scopus ID:  35179094900 	 Author Name: DouglasArchibald
80 	Querying Scopus ID:  35197757900 	 Author Name: JulieDarbyshire
81 	Querying Scopus ID:  35204088500 	 Author Name: KathleenRice
82 	Querying Scopus ID:  35204579600 	 Author Name: ChristinaAvgerinou
83 	Querying Scopus ID:  35235628600 	 Author Name: StephenSutton
84 	Querying Scopus ID:  35239306300 	 Author Name: JaneWilcock
85 	Querying Scopus ID:  35261560700 	 Author Name: JennyAdvocat
86 	Querying Scopus ID:  35271045100 	 Author Name: PatrickArchambault
87 	Querying Scopus ID:  35273864600 	 Author Name: MariaVazquezMontes
88 	Querying Scopus ID:  35339405200 	 Author Name: ShelleyMcLeod
89 	Querying Scopus ID:  35386078200 	 Author Name: VanessaBrcic
90 	Querying Scopus ID:  35433427300 	 Author Name: MaryCatherineTierney
91 	Querying Scopus ID:  35465440100 	 Author Name: PeterSelby
92 	Querying Scopus ID:  35485120300 	 Author Name: ReneeLPepin
93 	Querying Scopus ID:  35501693400 	 Author Name: JohnEWennberg
94 	Querying Scopus ID:  35553228300 	 Author Name: MichelleMeade
95 	Querying Scopus ID:  35573320200 	 Author Name: RickGlazier
96 	Querying Scopus ID:  35585411800 	 Author Name: MarkHarris
97 	Querying Scopus ID:  35597915300 	 Author Name: RossUpshur
98 	Querying Scopus ID:  35598907200 	 Author Name: PatriciaACarney
99 	Querying Scopus ID:  35605425800 	 Author Name: AnthonyJosephViera
100 	Querying Scopus ID:  35614391500 	 Author Name: EllenRosenberg
101 	Querying Scopus ID:  35615045800 	 Author Name: CeciliaJevitt
102 	Querying Scopus ID:  35724190300 	 Author Name: MelvynJones
103 	Querying Scopus ID:  35760603800 	 Author Name: SubhashisaSwain
104 	Querying Scopus ID:  35765360800 	 Author Name: ChristopherMeaney
105 	Querying Scopus ID:  35777617300 	 Author Name: MelindaMDavis
106 	Querying Scopus ID:  35791646200 	 Author Name: SheldonCheskes
107 	Querying Scopus ID:  35846870800 	 Author Name: EllenFlaherty
108 	Querying Scopus ID:  35880692500 	 Author Name: CynthiaWhitehead
109 	Querying Scopus ID:  35976353400 	 Author Name: ArnoupeJhass
110 	Querying Scopus ID:  36164698300 	 Author Name: DavidTu
111 	Querying Scopus ID:  36451376700 	 Author Name: RachelPechey
112 	Querying Scopus ID:  36460871900 	 Author Name: LisaMElisabethDelGiudice
113 	Querying Scopus ID:  36493934000 	 Author Name: HamidehBayrampour
114 	Querying Scopus ID:  36522898400 	 Author Name: LisaHopcroft
115 	Querying Scopus ID:  36537207400 	 Author Name: KulamakanMahanKulasegaram
116 	Querying Scopus ID:  36659303600 	 Author Name: NilakshiGunatillaka
117 	Querying Scopus ID:  36669108900 	 Author Name: BrantJOliver
118 	Querying Scopus ID:  36682025200 	 Author Name: MaryaJCohen
119 	Querying Scopus ID:  36840707700 	 Author Name: KamalRMahtani
120 	Querying Scopus ID:  36868112700 	 Author Name: CathyWatson
121 	Querying Scopus ID:  36894350800 	 Author Name: SaraFazio
122 	Querying Scopus ID:  36915607500 	 Author Name: BernardoMezzaTorres
123 	Querying Scopus ID:  36986651700 	 Author Name: RobbieDuschinsky
124 	Querying Scopus ID:  36987418300 	 Author Name: BlairHenry
125 	Querying Scopus ID:  36992979800 	 Author Name: JosetteCastel
126 	Querying Scopus ID:  36998742600 	 Author Name: ManishKMishra
127 	Querying Scopus ID:  37018670900 	 Author Name: JasonOke
128 	Querying Scopus ID:  37033113000 	 Author Name: SarahTonkinCrine
129 	Querying Scopus ID:  37037034700 	 Author Name: JoannaCrocker
130 	Querying Scopus ID:  37038716600 	 Author Name: DianaWithrow
131 	Querying Scopus ID:  37124462900 	 Author Name: MichaelMMcKee
132 	Querying Scopus ID:  41261423800 	 Author Name: LauraGottlieb
133 	Querying Scopus ID:  41461686300 	 Author Name: ChrysanthiPapoutsi
134 	Querying Scopus ID:  42762234800 	 Author Name: MaudeStOnge
135 	Querying Scopus ID:  42962175800 	 Author Name: WendyNorman
136 	Querying Scopus ID:  45761387300 	 Author Name: CatiaNicodemo
137 	Querying Scopus ID:  46861065400 	 Author Name: ScottGarrison
138 	Querying Scopus ID:  47062144400 	 Author Name: MilensuShanyinde
139 	Querying Scopus ID:  47560924200 	 Author Name: VeraCosta
140 	Querying Scopus ID:  50461029300 	 Author Name: AudreyLBlewer
141 	Querying Scopus ID:  51864736100 	 Author Name: YalingYang
142 	Querying Scopus ID:  53163671800 	 Author Name: JenniferHirst
143 	Querying Scopus ID:  54383802700 	 Author Name: KimberlySMcKee
144 	Querying Scopus ID:  54585655600 	 Author Name: MiguelMarino
145 	Querying Scopus ID:  54885976500 	 Author Name: FelixAchana
146 	Querying Scopus ID:  54991681800 	 Author Name: MichaelTam
147 	Querying Scopus ID:  55033905300 	 Author Name: ElhamMahmoudi
148 	Querying Scopus ID:  55073731400 	 Author Name: PaulAveyard
149 	Querying Scopus ID:  55094569500 	 Author Name: LisaRotenstein
150 	Querying Scopus ID:  55110968100 	 Author Name: SophiePark
151 	Querying Scopus ID:  55180583700 	 Author Name: LaraJirmanus
152 	Querying Scopus ID:  55194562100 	 Author Name: RubyTsang
153 	Querying Scopus ID:  55210769900 	 Author Name: CorneliuBolbocean
154 	Querying Scopus ID:  55214919800 	 Author Name: AnitaSrivastava
155 	Querying Scopus ID:  55232643600 	 Author Name: TaiPongLam
156 	Querying Scopus ID:  55308951100 	 Author Name: JamesSheppard
157 	Querying Scopus ID:  55320011600 	 Author Name: BradenONeill
158 	Querying Scopus ID:  55327656100 	 Author Name: JohnHall
159 	Querying Scopus ID:  55330280100 	 Author Name: JulieMcLellan
160 	Querying Scopus ID:  55334594200 	 Author Name: IrwinNazareth
161 	Querying Scopus ID:  55390041400 	 Author Name: StephanieTierney
162 	Querying Scopus ID:  55433786500 	 Author Name: JamieHartmannBoyce
163 	Querying Scopus ID:  55443624400 	 Author Name: AnandaSen
164 	Querying Scopus ID:  55477039500 	 Author Name: JohnGScott
165 	Querying Scopus ID:  55541432300 	 Author Name: RachaelHunter
166 	Querying Scopus ID:  55559487100 	 Author Name: RachelDuckham
167 	Querying Scopus ID:  55599635700 	 Author Name: TammyChang
168 	Querying Scopus ID:  55601615600 	 Author Name: RachelWillardGrace
169 	Querying Scopus ID:  55640150800 	 Author Name: ShobaPoduval
170 	Querying Scopus ID:  55666413700 	 Author Name: WarrenMcIsaac
171 	Querying Scopus ID:  55683060600 	 Author Name: JeffreyKAronson
172 	Querying Scopus ID:  55734561800 	 Author Name: JosÃ©MOrdÃ³Ã±ezMena
173 	Querying Scopus ID:  55748038500 	 Author Name: TamaraCarver
174 	Querying Scopus ID:  55748638300 	 Author Name: SimonBerthelot
175 	Querying Scopus ID:  55757434100 	 Author Name: MayPng
176 	Querying Scopus ID:  55757788100 	 Author Name: MarcyMcCallMacBain
177 	Querying Scopus ID:  55759804900 	 Author Name: PhilipTurner
178 	Querying Scopus ID:  55791267800 	 Author Name: KingshukPal
179 	Querying Scopus ID:  55793224800 	 Author Name: MorganPrice
180 	Querying Scopus ID:  55814434300 	 Author Name: ChrisButler
181 	Querying Scopus ID:  55815978400 	 Author Name: RichardMcManus
182 	Querying Scopus ID:  55838586700 	 Author Name: BrigitHatch
183 	Querying Scopus ID:  55841164100 	 Author Name: KylieVuong
184 	Querying Scopus ID:  55845763800 	 Author Name: TiarneyRitchwood
185 	Querying Scopus ID:  55850028400 	 Author Name: RebekahBurrow
186 	Querying Scopus ID:  55851063500 	 Author Name: WilliamCherniak
187 	Querying Scopus ID:  55915104600 	 Author Name: SherylSpithoff
188 	Querying Scopus ID:  55921474900 	 Author Name: KatelynMarieHolliday
189 	Querying Scopus ID:  55924573000 	 Author Name: RobertPetrella
190 	Querying Scopus ID:  55928697800 	 Author Name: SamanthaChakraborty
191 	Querying Scopus ID:  55949395100 	 Author Name: ArtazaGilani
192 	Querying Scopus ID:  55974182400 	 Author Name: OlivervanHecke
193 	Querying Scopus ID:  55975176200 	 Author Name: SamiraAbbasgholizadehRahimi
194 	Querying Scopus ID:  55994355000 	 Author Name: AlisonDoucet
195 	Querying Scopus ID:  55996347300 	 Author Name: LorraineMcDonagh
196 	Querying Scopus ID:  56001030700 	 Author Name: HelenSalisbury
197 	Querying Scopus ID:  56007420800 	 Author Name: JeremyRezmovitz
198 	Querying Scopus ID:  56021614700 	 Author Name: DavidWhite
199 	Querying Scopus ID:  56054064300 	 Author Name: SethBerkowitz
200 	Querying Scopus ID:  56055377000 	 Author Name: JustinePWu
201 	Querying Scopus ID:  56108796900 	 Author Name: BrianDNicholson
202 	Querying Scopus ID:  56154364100 	 Author Name: MatthewMenear
203 	Querying Scopus ID:  56203918900 	 Author Name: VladimirKhanassov
204 	Querying Scopus ID:  56208571400 	 Author Name: ConstantinosKoshiaris
205 	Querying Scopus ID:  56296627100 	 Author Name: BethanMcDonald
206 	Querying Scopus ID:  56321710600 	 Author Name: AnnaDowrick
207 	Querying Scopus ID:  56355012600 	 Author Name: DavidMcCartney
208 	Querying Scopus ID:  56397363000 	 Author Name: CandiceYangJohnson
209 	Querying Scopus ID:  56451068800 	 Author Name: JenniferDykxhoorn
210 	Querying Scopus ID:  56451200400 	 Author Name: PallaviPrathivadi
211 	Querying Scopus ID:  56452464600 	 Author Name: JeanSÃ©bastienRenaud
212 	Querying Scopus ID:  56496596200 	 Author Name: EricYukFaiWan
213 	Querying Scopus ID:  56506456900 	 Author Name: PadraigDixon
214 	Querying Scopus ID:  56521833600 	 Author Name: SuzannaMZick
215 	Querying Scopus ID:  56524516300 	 Author Name: JohnBuckell
216 	Querying Scopus ID:  56541341000 	 Author Name: ViolaAntao
217 	Querying Scopus ID:  56596974700 	 Author Name: MichellevanVelthoven
218 	Querying Scopus ID:  56598121400 	 Author Name: AbigailMcNiven
219 	Querying Scopus ID:  56652174000 	 Author Name: TimothyCGuetterman
220 	Querying Scopus ID:  56668621200 	 Author Name: MartaWanat
221 	Querying Scopus ID:  56684127200 	 Author Name: EstherYeeTakYu
222 	Querying Scopus ID:  56695096000 	 Author Name: DanielleNimmons
223 	Querying Scopus ID:  56697816100 	 Author Name: NicolaWilliams
224 	Querying Scopus ID:  56735638700 	 Author Name: RohitGandhi
225 	Querying Scopus ID:  56762375500 	 Author Name: RobertGabbay
226 	Querying Scopus ID:  56766134900 	 Author Name: DanielMyran
227 	Querying Scopus ID:  56779544500 	 Author Name: MeganArmstrong
228 	Querying Scopus ID:  56780052200 	 Author Name: AndrewEllner
229 	Querying Scopus ID:  56821790900 	 Author Name: AntoineGroulx
230 	Querying Scopus ID:  56828679400 	 Author Name: PuiSanTan
231 	Querying Scopus ID:  56871266500 	 Author Name: AleksandraBorek
232 	Querying Scopus ID:  56901065100 	 Author Name: LisaMMeeks
233 	Querying Scopus ID:  56974153800 	 Author Name: KevinRod
234 	Querying Scopus ID:  56976091800 	 Author Name: TanviRai
235 	Querying Scopus ID:  57002888700 	 Author Name: PaulBateman
236 	Querying Scopus ID:  57119315900 	 Author Name: MaddieJVenables
237 	Querying Scopus ID:  57162008600 	 Author Name: GemmaHughes
238 	Querying Scopus ID:  57188860648 	 Author Name: JuanCarlosBazoAlvarez
239 	Querying Scopus ID:  57189659224 	 Author Name: BarryMcCormick
240 	Querying Scopus ID:  57189868081 	 Author Name: HelenSenderovich
241 	Querying Scopus ID:  57189871386 	 Author Name: LucasSeuren
242 	Querying Scopus ID:  57190131683 	 Author Name: JulieThÃ©riault
243 	Querying Scopus ID:  57190296893 	 Author Name: NoahCrampton
244 	Querying Scopus ID:  57190341200 	 Author Name: TeresaFinlay
245 	Querying Scopus ID:  57190380282 	 Author Name: AliAlbasri
246 	Querying Scopus ID:  57190431371 	 Author Name: HanzhangXu
247 	Querying Scopus ID:  57190435446 	 Author Name: JonathanLivingstoneBanks
248 	Querying Scopus ID:  57191190213 	 Author Name: LazaroMwandigha
249 	Querying Scopus ID:  57191266755 	 Author Name: JanVerbakel
250 	Querying Scopus ID:  57191282563 	 Author Name: AnnikaTheodoulou
251 	Querying Scopus ID:  57191471812 	 Author Name: RachaelFrost
252 	Querying Scopus ID:  57191486243 	 Author Name: RachelByford
253 	Querying Scopus ID:  57191512166 	 Author Name: StevenMarcFriedman
254 	Querying Scopus ID:  57191614110 	 Author Name: PayalAgarwal
255 	Querying Scopus ID:  57191724812 	 Author Name: CervanteeWild
256 	Querying Scopus ID:  57192090147 	 Author Name: EmmaOgburn
257 	Querying Scopus ID:  57192269278 	 Author Name: AmyHsu
258 	Querying Scopus ID:  57192409955 	 Author Name: CarlosKingHoWong
259 	Querying Scopus ID:  57192650765 	 Author Name: DavidDuong
260 	Querying Scopus ID:  57192675106 	 Author Name: SungwookKim
261 	Querying Scopus ID:  57193068596 	 Author Name: RichardCroker
262 	Querying Scopus ID:  57193097561 	 Author Name: OliviaTseng
263 	Querying Scopus ID:  57193110722 	 Author Name: MinGao
264 	Querying Scopus ID:  57193173791 	 Author Name: DebraWestlake
265 	Querying Scopus ID:  57193278105 	 Author Name: DouglasMcKechnie
266 	Querying Scopus ID:  57193413362 	 Author Name: SietseWieringa
267 	Querying Scopus ID:  57193776749 	 Author Name: AlisonChisholm
268 	Querying Scopus ID:  57193934315 	 Author Name: RikiLane
269 	Querying Scopus ID:  57194462792 	 Author Name: CaterinaAlacevich
270 	Querying Scopus ID:  57194519847 	 Author Name: StephenMartin
271 	Querying Scopus ID:  57194703078 	 Author Name: DavidKuhl
272 	Querying Scopus ID:  57195616638 	 Author Name: ClaireFriedemannSmith
273 	Querying Scopus ID:  57195675373 	 Author Name: AshleyWhite
274 	Querying Scopus ID:  57196469174 	 Author Name: JulianSherlock
275 	Querying Scopus ID:  57197845697 	 Author Name: SuzanneLi
276 	Querying Scopus ID:  57197972684 	 Author Name: JulieFortin
277 	Querying Scopus ID:  57198373286 	 Author Name: KathyTaylor
278 	Querying Scopus ID:  57199861809 	 Author Name: EdwardXie
279 	Querying Scopus ID:  57200906069 	 Author Name: JamieRoss
280 	Querying Scopus ID:  57201024757 	 Author Name: JanaLazor
281 	Querying Scopus ID:  57201058413 	 Author Name: SamMort
282 	Querying Scopus ID:  57201188264 	 Author Name: JoannaDobbin
283 	Querying Scopus ID:  57201687627 	 Author Name: HelenCurtis
284 	Querying Scopus ID:  57201704275 	 Author Name: SebBacon
285 	Querying Scopus ID:  57201827080 	 Author Name: WilliamCBlack
286 	Querying Scopus ID:  57201972669 	 Author Name: HeatherAngier
287 	Querying Scopus ID:  57202071244 	 Author Name: CharlotteAlbury
288 	Querying Scopus ID:  57202103259 	 Author Name: StavrosPetrou
289 	Querying Scopus ID:  57202275894 	 Author Name: ErikBrodt
290 	Querying Scopus ID:  57202899020 	 Author Name: IrinaKudrina
291 	Querying Scopus ID:  57203032777 	 Author Name: BenGoldacre
292 	Querying Scopus ID:  57203122067 	 Author Name: AlexandraDePokomandy
293 	Querying Scopus ID:  57203175207 	 Author Name: KateWalters
294 	Querying Scopus ID:  57203214133 	 Author Name: RafaelPerera
295 	Querying Scopus ID:  57203293635 	 Author Name: MeaghanAKennedy
296 	Querying Scopus ID:  57203361350 	 Author Name: YehuditBauernfreund
297 	Querying Scopus ID:  57203542168 	 Author Name: NavPersaud
298 	Querying Scopus ID:  57203727675 	 Author Name: PPaulChandanabhumma

Time difference of 18.83876 mins

In [13]:
## 
## Post Process the Data
##
au_metrics_df <- do.call("rbind", au_metrics_list)
str(au_metrics_df)

'data.frame':	591 obs. of  14 variables:
 $ au_id         : num  1.00e+10 1.02e+10 1.28e+10 1.28e+10 1.44e+10 ...
 $ doc_count     : chr  "63" "42" "117" "37" ...
 $ cited_count   : chr  "1213" "1603" "1004" "313" ...
 $ citation_count: chr  "1403" "1722" "1159" "318" ...
 $ h_index       : chr  "17" "18" "20" "10" ...
 $ coauthor_count: chr  "179" "134" "458" "127" ...
 $ pub_last      : chr  "2022" "2022" "2022" "2022" ...
 $ pub_first     : chr  "2004" "2005" "2006" "1994" ...
 $ affil1        : chr  "University of Oxford Medical Sciences Division" NA NA NA ...
 $ affil2        : chr  NA NA NA NA ...
 $ affil_city    : chr  "Oxford" NA NA NA ...
 $ affil_country : chr  "United Kingdom" NA NA NA ...
 $ nam           : chr  "RebeccaBarnes" "ChristineTCigolle" "ClaireKendall" "MinaRuthSilberberg" ...
 $ id            : num  1.00e+10 1.02e+10 1.28e+10 1.28e+10 1.44e+10 ...

In [14]:
##
## Merge with meta information on Institution
##
au_metrics_df <- merge(x=au_metrics_df, y=meta_sm, by="id", all.x=TRUE)

list(
    dim(au_metrics_df),
    dim(meta_sm)
)

[[1]]
[1] 591  16

[[2]]
[1] 658   3

In [15]:
str(au_metrics_df)

'data.frame':	591 obs. of  16 variables:
 $ id            : num  6.50e+09 6.51e+09 6.51e+09 6.51e+09 6.51e+09 ...
 $ au_id         : num  6.50e+09 6.51e+09 6.51e+09 6.51e+09 6.51e+09 ...
 $ doc_count     : chr  "35" "123" "142" "66" ...
 $ cited_count   : chr  "506" "2556" "1375" "1653" ...
 $ citation_count: chr  "693" "3016" "1818" "1809" ...
 $ h_index       : chr  "16" "29" "24" "18" ...
 $ coauthor_count: chr  "352" "160" "488" "215" ...
 $ pub_last      : chr  "2023" "2023" "2022" "2022" ...
 $ pub_first     : chr  "1996" "2003" "2002" "1998" ...
 $ affil1        : chr  NA "Oregon Health & Science University" NA "Oregon Health & Science University" ...
 $ affil2        : chr  NA NA NA NA ...
 $ affil_city    : chr  NA "Portland" NA "Portland" ...
 $ affil_country : chr  NA "United States" NA "United States" ...
 $ nam           : chr  "DeborahKopanskyGiles" "NathalieHuguet" "AishaLofters" "LyleJFagnan" ...
 $ scrape_inst   : chr  "Toronto" "OHSU" "Toronto" "OHSU" ...
 $ country_inst  : chr  "Canada" "USA" "Canada" "USA" ...

In [16]:
##################################
##
## Write to disk
##
##################################
write.csv(x=au_metrics_df, file=metrics_fpath, row.names=FALSE)

In [17]:
##########################################
##
## Postprocess the metrics dataframe --- Note: these are LIFETIME metrics; not those over 6yr study window
##
##########################################
au_metrics_df$doc_count <- as.numeric(au_metrics_df$doc_count)
au_metrics_df$cited_count <- as.numeric(au_metrics_df$cited_count)
au_metrics_df$citation_count <- as.numeric(au_metrics_df$citation_count)
au_metrics_df$h_index <- as.numeric(au_metrics_df$h_index)
au_metrics_df$coauthor_count <- as.numeric(au_metrics_df$coauthor_count)

In [18]:
## 1) Order by number documents published
head(with(au_metrics_df, au_metrics_df[order(-doc_count), c("nam","doc_count")]), 10)

    nam                 doc_count
390 JeffreyKAronson     658
268 TrishGreenhalgh     651
55  SimondeLusignan     609
100 RichardHobbs        594
286 JohnABaron          573
251 SteveIliffe         554
118 TheresaMarteau      528
72  MargaretRitaKaragas 497
143 MaryTStory          472
315 MarkHarris          469

In [19]:
## 2) Order by number citations
head(with(au_metrics_df, au_metrics_df[order(-cited_count), c("nam","cited_count")]), 10)

    nam             cited_count
100 RichardHobbs    52745
114 GoyaWannamethee 43549
286 JohnABaron      42533
520 ChristiDeaton   36462
268 TrishGreenhalgh 31701
143 MaryTStory      30175
125 SusanJebb       24756
122 AnnaNATosteson  22703
513 RafaelPerera    20799
379 IrwinNazareth   19868

In [20]:
## 3) Order by h-index
head(with(au_metrics_df, au_metrics_df[order(-h_index), c("nam","h_index")]), 10)

    nam                 h_index
286 JohnABaron          121
143 MaryTStory          115
114 GoyaWannamethee      93
268 TrishGreenhalgh      92
72  MargaretRitaKaragas  86
100 RichardHobbs         84
159 JamesNWeinstein      82
125 SusanJebb            81
187 KarimKhan            81
122 AnnaNATosteson       80

In [21]:
## 4) Order by number of co-authors
head(with(au_metrics_df, au_metrics_df[order(-coauthor_count), c("nam","coauthor_count")]), 10)

    nam                coauthor_count
549 JohnWilliams       24763
493 JulianSherlock      9728
408 RobertPetrella      7303
559 DanielPlotkin       3589
100 RichardHobbs        3187
292 AndrewFarmer        3104
208 BrockCChristensen   2881
168 CarolineClarke      2701
114 GoyaWannamethee     2653
305 PatrickArchambault  2538

In [22]:
##
## Aggregate by curated/scrapted institutions --- again, note these are LIFETIME statistics (not those over study timeframe)
##

In [23]:
## Document counts by institution
doc_count_df <- aggregate(doc_count ~ scrape_inst, data=au_metrics_df, function(x) c(length(x), sum(x, na.rm=TRUE), mean(x, na.rm=TRUE), sd(x, na.rm=TRUE), quantile(x=x, na.rm=TRUE, prob=c(0, 0.01, 0.025, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.975, 0.99, 1.00))))
doc_count_df <- data.frame(cbind(doc_count_df[,1]),cbind(doc_count_df[,2]))
names(doc_count_df) <- c("Institution","N","Sum","Mean","SD","Q0","Q1","Q2_5","Q5","Q10","Q25","Q50","Q75","Q90","Q95","Q97_5","Q99","Q100")
doc_count_df <- with(doc_count_df, doc_count_df[order(-N),])
doc_count_df

   Institution N   Sum   Mean      SD        Q0 Q1    Q2_5   Q5    Q10   Q25
12 Oxford      163 13303  81.61350 123.87974  3  3.00  4.050  5.10   7.0  16.50
13 Toronto      72  7171  99.59722  98.16739  4  4.71  5.000  5.55  12.1  30.75
15 UCL          51  4298  84.27451 106.05151  2  3.50  5.250  6.00   7.0  15.00
2  Dartmouth    47  6497 138.23404 133.39631  2  4.30  7.600 13.10  20.2  33.00
14 UBC          35  3515 100.42857  87.68704  7  8.70 11.250 12.70  14.4  32.50
7  McGill       31  2980  96.12903  82.54281  4  5.20  7.000 10.00  13.0  25.50
6  Laval        30  1694  56.46667  81.32724  2  2.00  2.000  2.45   3.9   8.00
8  Michigan     28  2303  82.25000  58.64180  7  7.54  8.350 11.10  19.9  45.75
4  Harvard      22  1808  82.18182  84.47013  3  4.26  6.150  9.45  18.1  21.25
10 OHSU         19  1874  98.63158  76.83837  8  8.36  8.900  9.80  13.2  45.50
11 Ottawa       19  1724  90.73684  76.68756  3  3.36  3.900  4.80   5.0  33.00
9  Monash       14   715  51.07143  71.17634  3  3.13  3.325  3.65   5.2  14.25
3  Duke         13  1301 100.07692 128.16686  6  7.32  9.300 12.60  21.0  42.00
16 UCSF         12  1358 113.16667  66.80206 37 37.11 37.275 37.55  39.1  55.00
5  HKU          11  1306 118.72727 103.21346  7  7.50  8.250  9.50  12.0  36.00
1  Cambridge     8  1773 221.62500 144.97284 88 89.40 91.500 95.00 102.0 110.25
17 UNSW          8   993 124.12500 153.10075 13 13.56 14.400 15.80  18.6  30.00
   Q50   Q75    Q90   Q95    Q97_5   Q99    Q100
12  35.0  84.00 209.6 371.60 430.200 624.96 658
13  75.0 130.75 245.4 308.80 383.400 403.45 407
15  43.0 127.00 207.0 269.50 343.000 452.50 554
2  107.0 173.50 310.0 434.00 491.150 538.04 573
14  69.0 141.00 228.8 269.00 301.100 338.84 364
7   85.0 128.50 224.0 230.00 262.250 309.50 341
6   33.5  72.00 122.5 136.35 222.375 346.35 429
8   71.0  91.50 173.0 199.20 215.325 231.93 243
4   38.0 129.00 171.0 187.20 262.100 311.24 344
10  83.0 133.00 195.8 244.30 268.150 282.46 292
11  66.0 143.00 192.4 210.70 231.850 244.54 253
9   19.5  47.75 157.0 202.75 217.375 226.15 232
3   50.0  79.00 222.4 331.60 401.800 443.92 472
16 116.5 138.75 219.6 227.90 228.450 228.78 229
5   89.0 163.00 266.0 290.50 302.750 310.10 315
1  194.0 256.50 376.8 452.40 490.200 512.88 528
17  58.0 167.25 264.6 366.80 417.900 448.56 469

In [24]:
## Num citations by institution
num_cited_df <- aggregate(cited_count ~ scrape_inst, data=au_metrics_df, function(x) c(length(x), sum(x, na.rm=TRUE), mean(x, na.rm=TRUE), sd(x, na.rm=TRUE), quantile(x=x, na.rm=TRUE, prob=c(0, 0.01, 0.025, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.975, 0.99, 1.00))))
num_cited_df <- data.frame(cbind(num_cited_df[,1]),cbind(num_cited_df[,2]))
names(num_cited_df) <- c("Institution","N","Sum","Mean","SD","Q0","Q1","Q2_5","Q5","Q10","Q25","Q50","Q75","Q90","Q95","Q97_5","Q99","Q100")
num_cited_df <- with(num_cited_df, num_cited_df[order(-N),])
num_cited_df

   Institution N   Sum    Mean       SD         Q0  Q1     Q2_5    Q5
12 Oxford      163 530536  3254.8221  6332.5311   0   4.86  14.050   21.40
13 Toronto      72 162712  2259.8889  2770.8224  24  26.13  44.825   76.10
15 UCL          51 177464  3479.6863  7176.4876   3   4.50   7.750   25.50
2  Dartmouth    47 320441  6817.8936  8131.5027   7  44.72  98.900  193.10
14 UBC          35  93499  2671.4000  3721.7760  80  81.36  83.400  109.90
7  McGill       31  88583  2857.5161  3659.9458  25  41.50  66.250  130.50
6  Laval        30  36712  1223.7333  2527.1738   2   2.29   2.725    3.45
8  Michigan     28  72568  2591.7143  2895.0929  31  35.59  42.475   61.30
4  Harvard      22  46291  2104.1364  2574.2405  36  52.38  76.950  119.85
10 OHSU         19  37414  1969.1579  2201.6161  12  14.70  18.750   25.50
11 Ottawa       19  29236  1538.7368  1820.4258   6   7.98  10.950   15.90
9  Monash       14   8418   601.2857   998.8555   3   4.04   5.600    8.20
3  Duke         13  56683  4360.2308  8513.7014  48  77.88 122.700  197.40
16 UCSF         12  67645  5637.0833  6118.4717 821 885.57 982.425 1143.85
5  HKU          11  16399  1490.8182  1648.0155   9  10.80  13.500   18.00
1  Cambridge     8  87673 10959.1250 11739.0550 737 811.06 922.150 1107.30
17 UNSW          8  16910  2113.7500  2615.0377  99 102.50 107.750  116.50
   Q10    Q25     Q50    Q75      Q90     Q95      Q97_5     Q99      Q100
12   49.4  226.50  899.0  3320.00 10377.2 14199.20 16970.000 27395.10 52745
13  118.2  380.75 1141.5  3000.25  6656.5  7842.35 10281.925 10574.11 11113
15   66.0  219.50  692.0  4659.50  9844.0 13909.00 19297.750 31708.50 43549
2   297.0  581.00 4933.0  9528.00 16749.6 19113.60 22262.150 33411.20 42533
14  194.6  675.00 1022.0  2831.50  6785.8 10731.60 14080.800 14943.72 15519
7   225.0  603.50 1584.0  3515.50  5672.0 10094.00 14320.750 15196.90 15781
6     5.8  168.00  386.0  1619.75  2315.0  3121.60  6169.325 10668.53 13668
8   127.3  718.00 1675.5  3178.50  6011.4  8677.45 10018.825 10821.13 11356
4   236.3  423.00  911.0  3268.75  4260.8  4368.00  7763.400 10013.76 11514
10  109.4  626.00 1604.0  2687.50  3778.4  6041.10  7468.050  8324.22  8895
11   17.0  202.00 1004.0  2093.00  4173.6  5214.90  5821.950  6186.18  6429
9    14.9   46.75  169.5   555.00  1870.3  2630.95  3000.475  3222.19  3370
3   300.2  458.00  634.0  1604.00 10631.6 18728.20 24451.600 27885.64 30175
16 1417.7 1789.25 3057.0  6238.25 15687.2 16715.40 17164.200 17433.48 17613
5    27.0  241.00  878.0  2284.00  2842.0  4097.50  4725.250  5101.90  5353
1  1477.6 3571.00 7698.0 12624.00 23841.0 30151.50 33306.750 35199.90 36462
17  134.0  221.75 1083.0  2913.25  5445.7  6348.35  6799.675  7070.47  7251

In [25]:
## h-index by institution
h_index_df <- aggregate(h_index ~ scrape_inst, data=au_metrics_df, function(x) c(length(x), sum(x, na.rm=TRUE), mean(x, na.rm=TRUE), sd(x, na.rm=TRUE), quantile(x=x, na.rm=TRUE, prob=c(0, 0.01, 0.025, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.975, 0.99, 1.00))))
h_index_df <- data.frame(cbind(h_index_df[,1]),cbind(h_index_df[,2]))
names(h_index_df) <- c("Institution","N","Sum","Mean","SD","Q0","Q1","Q2_5","Q5","Q10","Q25","Q50","Q75","Q90","Q95","Q97_5","Q99","Q100")
h_index_df <- with(h_index_df, h_index_df[order(-N),])
h_index_df

   Institution N   Sum  Mean     SD        Q0 Q1    Q2_5   Q5    Q10  Q25
12 Oxford      163 3183 19.52761 18.592881  0  1.00  1.050  2.10  4.0  7.00
13 Toronto      72 1506 20.91667 14.008800  2  2.71  3.000  3.55  5.0 10.00
15 UCL          51 1108 21.72549 20.436319  1  1.00  1.250  2.50  4.0  6.50
2  Dartmouth    47 1769 37.63830 27.457022  1  1.92  3.600  7.00  8.6 12.00
14 UBC          35  850 24.28571 17.492135  3  3.68  4.700  5.00  6.4 13.50
7  McGill       31  704 22.70968 14.744928  2  3.20  5.000  6.00  6.0 12.50
6  Laval        30  424 14.13333 13.242391  1  1.00  1.000  1.45  2.0  4.00
8  Michigan     28  639 22.82143 12.223395  2  2.54  3.350  4.35  6.4 14.50
4  Harvard      22  441 20.04545 15.508760  3  3.21  3.525  4.10  6.2 10.25
10 OHSU         19  422 22.21053 14.010230  2  2.18  2.450  2.90  5.4 12.50
11 Ottawa       19  354 18.63158 12.945229  2  2.00  2.000  2.00  2.8  8.50
9  Monash       14  148 10.57143  9.010373  1  1.13  1.325  1.65  2.3  4.50
3  Duke         13  333 25.61538 29.548092  3  3.72  4.800  6.60  9.2 12.00
16 UCSF         12  404 33.66667 16.018928 17 17.22 17.550 18.10 19.0 19.00
5  HKU          11  191 17.36364 11.715569  2  2.10  2.250  2.50  3.0  8.50
1  Cambridge     8  334 41.75000 18.767373 15 15.63 16.575 18.15 21.3 32.25
17 UNSW          8  167 20.87500 15.056441  7  7.00  7.000  7.00  7.0  7.75
   Q50  Q75   Q90  Q95   Q97_5  Q99    Q100
12 13.0 22.50 54.4 60.80 66.000  82.14  92
13 17.5 29.00 39.9 48.25 53.450  56.74  61
15 13.0 38.00 52.0 60.50 64.000  78.50  93
2  39.0 54.00 75.8 81.40 85.400 104.90 121
14 19.0 32.00 44.4 56.60 67.400  75.56  81
7  20.0 30.50 36.0 52.50 61.500  62.40  63
6  10.5 21.75 26.1 28.65 39.900  55.56  66
8  22.5 33.50 38.0 41.25 44.300  45.92  47
4  12.0 30.00 33.8 37.80 52.250  61.70  68
10 21.0 28.50 37.4 44.40 50.700  54.48  57
11 17.0 27.50 35.2 37.20 42.600  45.84  48
9   8.0 13.50 24.6 28.05 29.025  29.61  30
3  15.0 19.00 45.8 74.20 94.600 106.84 115
16 30.5 44.75 58.4 59.45 59.725  59.89  60
5  17.0 24.00 28.0 33.50 36.250  37.90  39
1  42.0 47.00 62.0 69.00 72.500  74.60  76
17 17.5 30.00 40.5 42.25 43.125  43.65  44

In [26]:
#################################
## How long research?
#################################
au_metrics_df$how_long <- as.numeric(au_metrics_df$pub_last) - as.numeric(au_metrics_df$pub_first) 

with(au_metrics_df, list(summary(as.numeric(pub_last)),
                         summary(as.numeric(pub_first)),
                         summary(how_long)
                        ))

[[1]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   2017    2022    2022    2022    2022    2023      27

[[2]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1951    1995    2005    2003    2012    2021      27

[[3]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   0.00   10.00   17.00   19.12   27.00   72.00      27

In [27]:
aggregate(apply(au_metrics_df[,c("pub_last","pub_first","how_long")],2,as.numeric), list(au_metrics_df$scrape_inst), function(x) list(min(x, na.rm=TRUE), median(x, na.rm=TRUE), max(x, na.rm=TRUE)))

   Group.1   pub_last         pub_first          how_long
1  Cambridge 2022, 2022, 2023 1977, 1996, 2012   10, 26, 45
2  Dartmouth 2017, 2022, 2023 1964, 1988, 2019   1, 34, 57
3  Duke      2021, 2022, 2023 1985, 2008, 2015   7, 15, 36
4  Harvard   2017, 2022, 2023 1968, 2002, 2018   4, 20, 54
5  HKU       2022, 2023, 2023 1987, 2009, 2020   2, 14, 36
6  Laval     2018, 2022, 2023 1994, 2007.5, 2021 0, 15, 28
7  McGill    2017, 2022, 2023 1978, 1998, 2015   6, 24, 44
8  Michigan  2020, 2022, 2023 1978, 2001, 2018   4, 21, 44
9  Monash    2022, 2022, 2023 1995, 2009.5, 2021 1, 12.5, 27
10 OHSU      2021, 2022, 2023 1990, 2001.5, 2018 4, 21, 33
11 Ottawa    2022, 2022, 2023 1986, 2004.5, 2021 1, 18, 36
12 Oxford    2017, 2022, 2023 1975, 2011, 2021   0, 11, 48
13 Toronto   2018, 2022, 2023 1977, 2003, 2017   5, 18, 45
14 UBC       2019, 2022, 2023 1951, 1997, 2014   9, 25, 72
15 UCL       2020, 2022, 2023 1984, 2005, 2021   0, 17.5, 38
16 UCSF      2022, 2022, 2023 1969, 1998, 2008   15, 24, 53
17 UNSW      2020, 2022, 2023 1984, 1992, 2011   11, 28, 38

In [28]:
## Number of years exposure between start date and end date

In [29]:
## How many authors started research career (i.e. published first peer-reviewed article) after study start date
table(ifelse(as.numeric(au_metrics_df$pub_first)>=2017, TRUE, FALSE))

FALSE  TRUE
  502    62

In [30]:
## Get time under observation
au_metrics_df$pub_first_ <- pmax(as.numeric(au_metrics_df$pub_first), 2017)
au_metrics_df$pub_last_ <- pmin(as.numeric(au_metrics_df$pub_last), 2023)
au_metrics_df$how_long <- with(au_metrics_df, pub_last_ - pub_first_)

table(au_metrics_df$how_long)

  0   1   2   3   4   5   6
  7  17  18  23  50 335 114

In [31]:
##
## Note: to get evaluation over study timeframe (not LIFETIME), need work with raw articles (and their meta-data)
##

In [32]:
#################################
## Session Information
#################################

In [33]:
Sys.Date()

[1] "2023-01-18"

In [34]:
sessionInfo()

R version 4.1.3 (2022-03-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 17763)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] rscopus_0.7.1

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.8.3     magrittr_2.0.3   tidyselect_1.1.2 uuid_1.1-0
 [5] R6_2.5.1         rlang_1.0.2      fastmap_1.1.0    fansi_1.0.3
 [9] plyr_1.8.7       httr_1.4.4       dplyr_1.0.9      tools_4.1.3
[13] utf8_1.2.2       cli_3.3.0        htmltools_0.5.2  ellipsis_0.3.2
[17] digest_0.6.29    tibble_3.1.7     lifecycle_1.0.1  crayon_1.5.1
[21] IRdisplay_1.1    tidyr_1.2.0      purrr_0.3.4      repr_1.1.4
[25] base64enc_0.1-3  vctrs_0.4.1      curl_4.3.2       IRkernel_1.3
[29] glue_1.6.2       evaluate_0.15    pbdZMQ_0.3-7     compiler_4.1.3
[33] pillar_1.7.0     generics_0.1.2   jsonlite_1.8.0   pkgconfig_2.0.3

In [35]:
version

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          4
minor          1.3
year           2022
month          03
day            10
svn rev        81868
language       R
version.string R version 4.1.3 (2022-03-10)
nickname       One Push-Up